<br>
<h1 class="Home">Recent Blog Entries</h1>

<a href='/new'><button type ="submit" class ="create-post-button">Create Post</button></a>

{{#each articles}}
    <div class = "article-preview">
        <h2 id = "title">{{this.[1]}}</h2>
        <p class="description">{{this.[3]}}</p>
        <small>Posted by {{this.[2]}} on {{this.[5]}}</small>
        <br>
        <a href="/posts/{{this.[0]}}"><button type ="submit" class ="read-more-button">Read More</button></a>
    </div>
{{/each}}

